.desktop {
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
	position: relative;
	width: 100vw;
	height: 100vh;
	background-color: #008083;
	overflow: hidden;
}