.file {
	max-width: 40px;
	max-height: 40px;
	margin: 35px 10px;
	color: white;

	small {
		line-height: 14px;
		display: inline-table;
	}
}

.icon {
	position: relative;		
	width: 35px;
	height: 35px;	
	margin-left: 5px;

	&--notepad {
		background-image: url('/assets/notepad.png');
		background-size: contain;
	}

	&--folder {
		background-image: url('/assets/folder.png');
		background-size: contain;
	}

	&--ie {
		background-image: url('/assets/ie.png');
		background-size: contain;
	}
}