.file {
	display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    cursor: pointer;

	small {
		line-height: 14px;
	    max-width: 50%;
	    display: inline-table;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    color: white;
	    margin-top: 10px;
	    margin-bottom: 10px;
	}
}

.icon {
	position: relative;		
	width: 35px;
	height: 35px;	
	margin-left: 5px;

	&--notepad {
		background-image: url('/assets/notepad.png');
		background-size: contain;
	}

	&--folder {
		background-image: url('/assets/folder.png');
		background-size: contain;
	}

	&--ie {
		background-image: url('/assets/ie.png');
		background-size: contain;
	}

	&--github {
		background-image: url('/assets/github.png');
		background-size: contain;
	}
}