.file {
	max-width: 40px;
	max-height: 40px;
	margin: 35px 10px;
	color: white;
}

.icon {
	position: relative;		
	width: 40px;
	height: 40px;	
	margin-left: 5px;
	top: 5px;
	background-image: url('https://i.imgur.com/PfWojZe.png');
	background-size: contain;
}