.folder {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	border: 2px inset;
	padding-top: 20px;
	overflow-x: hidden;
	overflow-y: scroll;

	.file {
		margin-top: 0px;

		small {
			color: black;
		}
	}
}