.ie {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

	&__header {
		display: flex;
		width: 100%;
		height: 32px;
		justify-content: space-between;

		form {
			width: 80%;

			input {
				width: 100%;
			}
		}
	}

	&__body {
		height: 100%;
		width: 100%;
		display: flex;

		iframe {
			width: 100%;
		}
	}
}