$primary: #BDBDBD;
$secondary: #000084;
$light-primary: #E6E6E6;
$dark-primary: #8B8989;

.window {
	position: absolute;
	width: 450px;
	height: 450px;
	background-color: $primary;
	border: 2px solid;
	border-color: $light-primary $dark-primary $dark-primary $light-primary;

	&__head {
		width: 100%;
		height: 30px;
		color: white;
		background-color: $secondary;
		padding: 2px 10px;
		display: flex;
		justify-content: space-between;

		&__actions {
			display: inline-flex;

			p {
				margin: 0px 5px;
			}
		}
	}
}