.window {
	position: absolute;
	width: 450px;
	height: 450px;
	background-color: $primary;
	border: 2px solid;
	border-color: $light-primary $dark-primary $dark-primary $light-primary;
	box-shadow: 2px 2px;

	&__head {
		width: 100%;
		height: 20px;
		color: white;
		background-color: $secondary;
		padding: 2px 10px;
		display: flex;
		justify-content: space-between;

		&__icon {
			width: 14px;
			height: 14px;
		}

		.title {
			display: flex;
		    font-size: 11px;
		    font-style: inherit;
		    font-weight: 600;
		    margin-top: 1px;
		}
		
		&__actions {
			display: inline-flex;

			&__button {
				width: 15px;
				height: 15px;
				margin-top: 1px;
				margin-left: 5px;
				color: black;
				box-shadow: 1px 1px;
				font-size: smaller;
				text-align: center;
				background-color: $primary;
				cursor: pointer;
				border: 1px solid;
				border-color: $light-primary $dark-primary $dark-primary $light-primary;

				span {
					position: relative;
					bottom: 5px;
					font-size: smaller;
					font-weight: 800;
				}
			}

			&__button:active {
				box-shadow: 1px 1px inset black;
				border: 1px inset;
			}
		}
	}

	&__options {
		width: 100%;
	    height: 20px;
	    padding: 1px 9px;
	    font-size: small;

	    span {
	    	margin-top: 2px;
	    	margin-right: 10px;
	    	cursor: pointer;

	    	&:hover {
	    		background-color: $light-primary;
	    	}
	    }
	}

	&__body {
		width: 100%;
		height: calc(100% - 20px - 20px);
	}
}